[color]
	ui = true
[user]
	name = Will Munn
	email = william.munn@zenika.com
[core]
	editor = nvim
	autocrlf = false
	excludesfile = /Users/will.munn/.gitignore_global
    fileMode = true
[help]
	autocorrect = 1
[push]
	default = current
[rebase]
	instructionFormat = (%an <%ae>) %s
[alias]
	am = commit --amend --no-edit
	fixup = commit --amend --no-edit
	co = checkout
	fp = push --force-with-lease
[pull]
	rebase = false
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-dirty = 1
[rerere]
	enabled = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[diff]
	tool = nvimdiff
[mergetool]
	keepBackup = false
