[color]
	ui = true
[user]
	name = Will Munn
	email = will.munn@focusrite.com
[core]
	editor = vim -u NONE
	autocrlf = false
	excludesfile = /Users/will.munn/.gitignore_global
    fileMode = true
[help]
	autocorrect = 1
[push]
	default = current
[rebase]
	instructionFormat = (%an <%ae>) %s
[alias]
    am = commit --amend --no-edit
	fixup = commit --amend --no-edit
[pull]
	rebase = false
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-dirty = 1
[rerere]
	enabled = true
